[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cheetah = "*"
typed = "*"
pyyaml = "*"
virtualenv = "*"
typing = "*"
regex = "*"
scons = "*"

[requires]
python_version = "2.7"
